<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
    integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='{{ url_for("static", filename="js/query_api_url.js") }}' type="text/javascript"></script>

<head>
    <title>Prober</title>
    <link rel="icon" href="{{ url_for('static', filename='images/dog_astronaut.ico') }}">
    {{ moment.include_moment() }}
</head>

<body>
    <div class="container main">
        <div class="card text-white title-card mb-3 mx-auto">
            <div class="card-body">
                <h1 class="display-4">Prober <img class="logo-img"
                        src="{{ url_for('static', filename='images/dog_astronaut.svg') }}" width="60" /></h1>
                <p class="card-text" style="text-align: right; margin-top: -30pt;">Last Checked: {{
                    moment().fromNow(no_suffix=False, refresh=True) }} &emsp; <a href="/" class="btn btn-light"><i
                            class="bi bi-arrow-clockwise"></i></a></p>
            </div>
        </div>
        <aside>
            <h4>Domain Certificate</h2>
                {% for domain in domain_data %}
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{domain.lower()}}</div>
                    <div class="card-body">
                        {% for key, value in domain_data[domain].items() %}
                        <p class="card-text">{{key.replace('_', " ").title()}}: {{value}}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
        </aside>
        <div class="row table-body">
            {% for type in target_data %}
            <h2 class="project-title">{{type.upper()}}</h2>
            <table id="data" class="table table-hover">
                <thead class="table-dark">
                    <tr align="center">
                        {% for column in column_model.keys() %}
                        <th scope="col">{{column.upper()}}</th>
                        {% endfor %}

                    </tr>
                </thead>
                <tbody>
                    {% for entity in target_data[type] %}
                    <tr scope="row">
                        {% for column, column_type in column_model.items() %}
                        {% if column in status_check.values() %}
                        <td id='{{ entity[column_type] }}'><span class="loader"></span><p></p></td>
                        {% elif entity[column_type] and link_checker(entity[column_type]) %}
                        <td><a href="{{ entity[column_type] }}" target="_blank">{{ entity[column_type] }}</a></td>
                        {% else %}
                        <td>{{ entity[column_type] }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>

    <script>

        var target_data = JSON.parse('{{target_data | tojson}}');
        var status_check = JSON.parse('{{status_check | tojson}}');

        probe_and_update(target_data, status_check);
    </script>

</body>

</html>